<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador QR</title>
    <link rel="stylesheet" href="../static/css/generadorQR.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/marca.png">
</head>

<body>
    <section class="fondo">
        <div class="logo"></div>
    </section>

    <section class="container">
        <div id="generador_form">
            <h2>Inserta una URL o texto</h2>
            <input type="text" name="urlYT" id="urlQR" placeholder="http://google.com/" required>
            <div class="botones">
                <button id="submit" onclick="iniciarGeneradorQR()">Generar QR</button>
            </div>
        </div>
        <div id="text"></div>
    </section>

    <script src="../static/js/generador.js"></script>

</body>

</html>