<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Juan Ortiz</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/marca.png">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a onclick="smoothScroll('#inicio')"><h1>Juan Ortiz</h1></a>
        </div>
        <nav class="nav grid-item">
            <a href="#inicio">Inicio</a>
            <a href="#sobre-mi">Sobre mi</a>
            <a href="#mis-programas">Mis programas</a>
            <a href="#contacto">Contacto</a>
        </nav>
    </header>

    <section class="hero" id="inicio">
        <h1>Bienvenido a mi pagina</h1>
        <p>Esta es una pagina de prueba para demostrar el uso de HTML, CSS y JS.</p>
        <section class="logos-progra">
            <div class="log"></div>
            <div class="log"></div>
            <div class="log"></div>
            <div class="log"></div>
            <div class="log"></div>
            <div class="log"></div>
        </section>
        <button onclick="smoothScroll('#mis-programas')">Ver Proyectos</button>
    </section>

    <section class="sobre-mi" id="sobre-mi">
        <div class="imagen-two">
        </div>
        <div class="texto">
            <h2>Sobre Mi</h2>
            <p>Lorem ipsum dolsdor sit amet consectetur adipisicing elit. Consequatur voluptatum aliquid perferendis eos beatae neque incidunt asperiores voluptate nobis provident minima aut laborum dolor quas, ipsa dolorum porro, earum cumque.</p>
        </div>
    </section>

    <section class="mis-programas" id="mis-programas">
        <div class="container">
            <h2>Mis Programas</h2>
            <div class="mis-cartas">
                <div class="carta">
                    <h3>ConvertYT</h3>
                    <p>Descarga videos de YouTube en formato MP3 o MP4.</p>
                    <a href="convertYT.html"><button>Ver proyecto</button></a>
                </div>
                <div class="carta">
                    <h3>Proyecto 2</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium</p>
                    <button>Ver proyecto</button>                
                </div>
                <div class="carta">
                    <h3>Proyecto 3</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium</p>
                    <button>Ver proyecto</button>                
                </div>
                <div class="carta">
                    <h3>Proyecto 4</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium</p>
                    <button>Ver proyecto</button>                
                </div>
                <div class="carta">
                    <h3>Proyecto 5</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium</p>
                    <button>Ver proyecto</button>                
                </div>
            </div>
        </div>
    </section>

    <section class="habilidades">
        <div class="cont">
            <div class="habi-imagen"></div>
            <div class="textos">
                <h2>Mis Habilidades</h2>
                <ul class="list">
                    <li>✅ Desarrollo Front-end (HTML, CSS, JavaScript)</li>
                    <li>✅ Desarrollo Back-end (Node.js, Python)</li>
                    <li>✅ Bases de Datos (SQL, MongoDB)</li>
                    <li>✅ Control de Versiones (Git, GitHub)</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="contacto" id="contacto">
        <div class="contenedor">
            <h2>Contacto</h2>
            <form class="formulario" id="formulario">
                <label for="nombre">Nombre completo: </label>
                <input type="text" name="nombre" id="nombre"><br><br>
                <label for="correo">Correo electronico: </label>
                <input type="email" name="correo" id="correo"><br><br>
                <label for="mensaje">Mensaje: </label>
                <textarea type="text" name="mensaje" id="mensaje"></textarea><br><br>
                <button type="submit" class="boton-enviar">Enviar</button>
            </form>
        </div>
    </section>

    <footer>
        <section class="contenido">
            <div class="icons-footer">
                <a class="icons" href="https://github.com/Juan15200312"></a>
                <a class="icons" href="https://www.linkedin.com/"></a>
                <a class="icons" href="https://www.instagram.com/"></a>
            </div>
            <p>© Juan Ortiz 2025</p>
        </section>
    </footer>
    
    <script src="../static/js/index.js"></script>
</body>
</html>