<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../static/css/reset-password.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/marca.png">
</head>
<body>
    <section class="container">
        <div class="reset-now">
            <h1>Recuperar contraseña</h1>
            <form class="reset-form" id="reset-form">
                <h5>Ingrese el correo electrónico de la cuenta a recuperar: </h5>
                <div class="cuadro-login">
                    <div class="email-logo"></div>
                    <input type="email" name="email" placeholder="Correo electronico" id="email">
                </div>
                <h5>Ingrese su nueva contraseña: </h5>
                <div class="cuadro-login">
                    <div class="password-logo"></div>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <div class="view-password"></div>
                </div>
                <input type="submit" value="Restablecer contraseña" name="enviar">
            </form>
        </div>
    </section>

    <script src="../static/js/reset-password-2.js"></script>
</body>
</html>