<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../static/css/reset-password.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/marca.png">
</head>
<body>
    <section class="container">
        <div class="reset-now">
            <h1>Recuperar contraseña</h1>
            <h5>Ingrese el correo electrónico de la cuenta a recuperar: </h5>
            <form class="reset-form" id="reset-form">
                <div class="cuadro-login">
                    <div class="email-logo"></div>
                    <input type="email" name="email" placeholder="Correo electronico" id="email">
                </div>
                <div class="texto">
                    <p>Si ha olvidado su contrasefia, introduzca su dirección de 
                        correo electrónico.</p><p>
                        La información de la cuenta será enviada a usted por el
                        correo electrónico junto con un enlace para restablecer
                        su contraseña.</p>
                        <p>Gracias.</p>
                </div>
                <input type="submit" value="Enviar validacion" name="enviar">
            </form>
        </div>
    </section>

    <script src="../static/js/reset-password.js"></script>
</body>
</html>